@model CVPortal.ViewModels.CustomerStep3

@{
    ViewBag.Title = "Customer Form";
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".back-button-1").click(function () {
                window.location.href = "/Customers/CustomerStep1/" + $("#Id").val();
            });

            $(".back-button-2").click(function () {
                window.location.href = "/Customers/CustomerStep2/" + $("#Id").val();
            });

            $(".back-button-3").click(function () {
                window.location.href = "/Customers/CustomerStep3/" + $("#Id").val();
            });

            $('#BankFile').change(function (e) {
                var file = e.target.files[0];

                if (file.type != "application/pdf") {
                    $("#BankFile").val("");
                    alert("Only PDF file allowed.");
                } else if (file.size > 5242880) {
                    $("#BankFile").val("");
                    toastr.error("Maximum 5 MB size allowed, your uploaded Bank related file size is " + (file.size / 1024 / 1024).toFixed(2) + " MB.", "Customer");
                } else {
                    $("#BankFileName").val(file.name);
                }
            });

            $('#Date').datepicker({
                format: 'yyyymmdd'
            });
        });
    </script>
}

<div class="jumbotron" style="padding-top:10px !important;">
    @using (Html.BeginForm("CustomerStep3", "Customers", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.IsMain)

        <div>
            <h3 class="form-signin-heading text-center">Domestic Customer Registration Form</h3>
            <label>General Instructions</label>
            <ol>
                <li>Fill in the form giving relevant details. Incomplete form may not be processed.</li>
                <li>All fields are mandatory. Tick in appropriate box.</li>
            </ol>
            <br />
            <div class="row row-margin text-center main-step-bg-color">
                <div class="col-md-3 steps steps-active back-button-1">
                    <label>Step 1</label>
                </div>
                <div class="col-md-3 steps steps-active back-button-2">
                    <label>Step 2</label>
                </div>
                <div class="col-md-3 steps steps-active back-button-3">
                    <label>Step 3</label>
                </div>
                <div class="col-md-3 steps">
                    <label>Step 4</label>
                </div>
            </div>
            <br />
            <label>Remittance/ Payments</label>
            <div class="row">
                <div class="col-md-3">
                    <div class="col-md-2">
                        <span>12.</span>
                    </div>
                    <div class="col-md-10">
                        <span>Security Deposit</span><span class="color-red"> * </span>
                    </div>
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.Seucirty_Deposit, Model.IsMain ? (object)new { @class = "form-control" } : new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.Seucirty_Deposit)
                </div>
                <div class="col-md-1" style="padding-right:0;padding-left:0;">
                    <span>DD No./UTR No.</span><span class="color-red"> * </span>
                </div>
                <div class="col-md-5">
                    @Html.TextBoxFor(model => model.DDNo_UTRNo, Model.IsMain ? (object)new { @class = "form-control" } : new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.DDNo_UTRNo)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <div class="col-md-2">
                        <span>13.</span>
                    </div>
                    <div class="col-md-10">
                        <span>Benificiary Name</span><span class="color-red"> * </span><br />
                        <span>(Customer Name)</span>
                    </div>
                </div>
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.Benificiary_name, Model.IsMain ? (object)new { @class = "form-control" } : new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.Benificiary_name)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <div class="col-md-2">
                        <span>14.</span>
                    </div>
                    <div class="col-md-10">
                        <span>Bank Name</span><span class="color-red"> * </span>
                    </div>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Bank_name, Model.IsMain ? (object)new { @class = "form-control" } : new { @class = "form-control", @disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.Bank_name)
                </div>
                <div class="col-md-5">
                    @Html.HiddenFor(model => model.BankFileName)
                    @Html.TextBoxFor(model => model.BankFile, Model.IsMain ? (object)new { type = "file", @class = "form-control", accept = "application/pdf" } : new { type = "file", @class = "form-control", accept = "application/pdf", @disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.BankFileName)
                    <a href="@Url.Action("Download", "Customers", new { id = Model.Id, fileName = Model.BankFileName })" target="_blank" class="@(string.IsNullOrEmpty(Model.BankFileName) ? "hidden" : "")">
                        View File
                    </a>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <div class="col-md-2">
                        <span>15.</span>
                    </div>
                    <div class="col-md-10">
                        <span>Branch Name/Address</span><span class="color-red"> * </span>
                    </div>
                </div>
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.Branch_name_Add, Model.IsMain ? (object)new { @class = "form-control" } : new { @class = "form-control", @disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.Branch_name_Add)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <div class="col-md-2">
                        <span>16.</span>
                    </div>
                    <div class="col-md-10">
                        <span>Account No</span><span class="color-red"> * </span>
                    </div>
                </div>
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.Account_no, Model.IsMain ? (object)new { @class = "form-control" } : new { @class = "form-control", @disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.Account_no)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <div class="col-md-2">
                        <span>17.</span>
                    </div>
                    <div class="col-md-10">
                        <span>MICR Code</span><span class="color-red"> * </span>
                    </div>
                </div>
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.MICR_code, Model.IsMain ? (object)new { @class = "form-control", maxlength = "9" } : new { @class = "form-control", maxlength = "9", @disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.MICR_code)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <div class="col-md-2">
                        <span>18.</span>
                    </div>
                    <div class="col-md-10">
                        <span>IFSC / RTGS Code</span><span class="color-red"> * </span>
                    </div>
                </div>
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.IFSC_RTGS_code, Model.IsMain ? (object)new { @class = "form-control" } : new { @class = "form-control", @disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.IFSC_RTGS_code)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <div class="col-md-offset-2 col-md-10">
                        <span>Date</span><span class="color-red"> * </span>
                    </div>
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.Date, Model.IsMain ? (object)new { @class = "form-control" } : new { @class = "form-control", @disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.Date)
                </div>
            </div>
            <br /><br />
            <input type="button" value="Back" class="btn btn-primary pull-left back-button-2" />
            <input type="submit" value="Next" class="btn btn-success pull-right" />
        </div>
    }
</div>