@model CVPortal.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutOuter.cshtml";
}

<div id="app">
    <main>
        <div class="section body-container landing-page-container">
            <div class="">
                <div class="row v-middle">
                    <div class="seven columns left">
                        <img src="~/Content/Login/Suzuki-Logo.png" alt="Suzuki&#39;s signup landing page">
                    </div>
                    <div class="four columns right">
                        <div class="phone-no-container">
                            <h1 class="text-black landing-head"> Signin now </h1>
                            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "md signup-mobile-form" }))
                            {
                                @Html.ValidationSummary(true, null, new { @class = "error" })
                                
                                <div data-v-24b04a24="" class="signup-mobile-input su-input-group su-static-label" data-v-69ce196a="">
                                    <label data-v-24b04a24="" class="su-input-label su-visible">Email</label>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "su-spinner", autocorrect = "off", placeholder = "", autofocus = "autofocus" })
                                    <div>
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "error" })
                                    </div>
                                </div>
                                <div data-v-24b04a24="" class="signup-mobile-input su-input-group su-static-label" data-v-69ce196a="">
                                    <label data-v-24b04a24="" class="su-input-label su-visible">Password</label>
                                    @Html.PasswordFor(m => m.Password, new { @class = "su-spinner", autocorrect = "off", placeholder = "" })
                                    <div>
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "error" })
                                    </div>
                                </div>
                                <button data-v-26dfdbb3="" type="submit" class="button button-blue signup-mobile-submit" data-v-69ce196a="">
                                    Login <!---->
                                </button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!---->
</div>