@model CVPortal.ViewModels.VendorStep4

@{
    ViewBag.Title = "Vendor Form";
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".back-button-1").click(function () {
                window.location.href = "/Vendors/VendorStep1/" + $("#Id").val();
            });

            $(".back-button-2").click(function () {
                window.location.href = "/Vendors/VendorStep2/" + $("#Id").val();
            });

            $(".back-button-3").click(function () {
                window.location.href = "/Vendors/VendorStep3/" + $("#Id").val();
            });

            $(".back-button-4").click(function () {
                window.location.href = "/Vendors/VendorStep4/" + $("#Id").val();
            });

            $('#AuditedFile').change(function (e) {
                var file = e.target.files[0];

                if (file.type != "application/pdf") {
                    $("#AuditedFile").val("");
                    alert("Only PDF file allowed.");
                } else if (file.size > 5242880) {
                    $("#AuditedFile").val("");
                    toastr.error("Maximum 5 MB size allowed, your uploaded Audited Balance sheet file size is " + (file.size / 1024 / 1024).toFixed(2) + " MB.", "Vendor");
                }
            });

            $('#MOAFile').change(function (e) {
                var file = e.target.files[0];

                if (file.type != "application/pdf") {
                    $("#MOAFile").val("");
                    alert("Only PDF file allowed.");
                } else if (file.size > 5242880) {
                    $("#MOAFile").val("");
                    toastr.error("Maximum 5 MB size allowed, your uploaded AOA & MOA file size is " + (file.size / 1024 / 1024).toFixed(2) + " MB.", "Vendor");
                }
            });

            $("#btnApprove").click(function (e) {
                e.preventDefault();

                $(this).html("Loading...");
                $(".btnClose").hide();

                $.ajax({
                    url: '@Url.Action("ApproveVendorDetails", new { area = "", controller = "Vendors" })',
                    type: "POST",
                    data: JSON.stringify({
                        vendorId: $("#Id").val(),
                        termsCode: $("#TermsCode").val(),
                        bankCode: $("#BankCode").val(),
                        bankBranch: $("#BankBranch").val(),
                        paymentType: $("#PaymentType").val(),
                        taxCode: $("#TaxCode").val(),
                        company: $("#Company").val(),
                        vendorType: $("#VendorType").val(),
                        documentPfx: $("#DocumentPfx").val()
                    }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response.status) {
                            $('#approveModal').modal('hide');
                            window.location.href = "../VendorIndex/" + $("#Id").val();
                        } else {
                            $("#btnApprove").html("Approve");
                            $(".btnClose").show();
                            toastr.error(response.result, "Vendor");
                        }
                    },
                    error: function (response) {
                        toastr.error(response.responseText, "Vendor");
                    }
                });
            });

            $("#btnReject").click(function (e) {
                e.preventDefault();

                $(this).html("Loading...");
                $(".btnClose").hide();

                $.ajax({
                    url: '@Url.Action("RejectVendorDetails", new { area = "", controller = "Vendors" })',
                    type: "POST",
                    data: JSON.stringify({
                        id: $("#Id").val(),
                        remarks: $("#remarks").val()
                    }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response.status) {
                            $('#rejectModal').modal('hide');
                            window.location.href = "../VendorIndex/" + $("#Id").val();
                        } else {
                            $("#btnReject").html("Reject");
                            $(".btnClose").show();
                            alert(response.result);
                        }
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });
    </script>
}

<div class="jumbotron" style="padding-top:10px !important;">
    @using (Html.BeginForm("VendorStep4", "Vendors", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.IsMain)
        @Html.HiddenFor(model => model.IsExistingUpdate)

        <div>
            <h3 class="form-signin-heading text-center">Domestic Vendor Registration Form</h3>
            <label>General Instructions</label>
            <ol>
                <li>Fill in the form giving relevant details. Incomplete form may not be processed.</li>
                <li>All fields are mandatory. Tick in appropriate box.</li>
            </ol>
            <br />
            <div class="row row-margin text-center main-step-bg-color">
                <div class="col-md-3 steps steps-active back-button-1">
                    <label>Step 1</label>
                </div>
                <div class="col-md-3 steps steps-active back-button-2">
                    <label>Step 2</label>
                </div>
                <div class="col-md-3 steps steps-active back-button-3">
                    <label>Step 3</label>
                </div>
                <div class="col-md-3 steps steps-active back-button-4">
                    <label>Step 4</label>
                </div>
            </div>
            <br />
            <label style="font-size:20px;text-decoration:underline;">For Internal Use Only (SMIPL)</label>
            <br /><br />
            <div class="row">
                <div class="col-md-3">
                    <label>Type of Vendor<span class="color-red"> * </span></label><br />
                    <span>(put tick Mark)</span>
                </div>
                <div class="col-md-9">
                    @Html.RadioButtonFor(model => model.Type_of_Vend, "1", Model.IsMain ? (object)new { @id = "vendorType1" } : new { @id = "vendorType1", @disabled = "disabled" })
                    <label for="vendorType1" style="font-weight: 500; margin-right: 30px;">Regular Supply/Services</label>
                    @Html.RadioButtonFor(model => model.Type_of_Vend, "2", Model.IsMain ? (object)new { @id = "vendorType2" } : new { @id = "vendorType2", @disabled = "disabled" })
                    <label for="vendorType2" style="font-weight: 500; margin-right: 30px;">One time Supply/Services</label>
                    <br />
                    @Html.ValidationMessageFor(model => model.Type_of_Vend)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    Audited Balance Sheet
                </div>
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.AuditedFile, Model.IsMain ? (object)new { type = "file", @class = "form-control", accept = "application/pdf" } : new { type = "file", @class = "form-control", accept = "application/pdf", @disabled = "disabled" })
                    <a href="@Url.Action("Download", "Vendors", new { id = Model.Id, fileName = Model.AuditedFileName })" target="_blank" class="@(string.IsNullOrEmpty(Model.AuditedFileName) ? "hidden" : "")">
                        View File
                    </a>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    AOA & MOA File
                </div>
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.MOAFile, Model.IsMain ? (object)new { type = "file", @class = "form-control", accept = "application/pdf" } : new { type = "file", @class = "form-control", accept = "application/pdf", @disabled = "disabled" })
                    <a href="@Url.Action("Download", "Vendors", new { id = Model.Id, fileName = Model.MOAFileName })" target="_blank" class="@(string.IsNullOrEmpty(Model.MOAFileName) ? "hidden" : "")">
                        View File
                    </a>
                </div>
            </div>
            <br /><br />
            <input type="button" value="Back" class="btn btn-primary pull-left back-button-3" />
            @if (Model.IsMain || Model.IsExistingUpdate)
            {
                <input type="submit" value="Submit" class="btn btn-success pull-right" />
            }
            else if (Model.IsApprover)
            {
                <input type="button" value="Reject" class="btn btn-danger pull-right" data-toggle="modal" data-target="#rejectModal" />
                <input type="button" value="Approve" class="btn btn-success pull-right" data-toggle="modal" data-target="#approveModal" style="margin-right:20px;" />
            }
        </div>
    }
</div>

<div class="modal fade" id="approveModal" tabindex="-1" role="dialog" aria-labelledby="approveModalLabel" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title" id="exampleModalLabel">Approve Confirmation</label>
            </div>
            @if (HttpContext.Current.Session["Role"].ToString() == string.Empty 
                || (HttpContext.Current.Session["Role"].ToString() != "FinanceDepartment"
                && HttpContext.Current.Session["Role"].ToString() != "ITDepartment"))
            {
                <div class="modal-body">
                    <span>Are you sure, you want to approve?</span>
                </div>
            }

            @if (HttpContext.Current.Session["Role"].ToString() == "FinanceDepartment")
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label for="TermsCode">Terms Code</label>
                        @Html.DropDownList("TermsCode", ViewBag.TermsCodeList as SelectList, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="BankCode">Bank Code</label>
                        @Html.DropDownList("BankCode", ViewBag.BankCodeList as SelectList, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="BankBranch">Bank Branch</label>
                        @Html.TextBox("BankBranch", "001", new { @class = "form-control", placeholder = "Bank Branch", @readonly= "readonly" })
                    </div>
                    <div class="form-group">
                        <label for="PaymentType">Payment Type</label>
                        @Html.DropDownList("PaymentType", ViewBag.PaymentTypeList as SelectList, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="TaxCode">Tax Code</label>
                        @Html.DropDownList("TaxCode", ViewBag.TaxCodeList as SelectList, new { @class = "form-control" })
                    </div>
                </div>
            }

            @if (HttpContext.Current.Session["Role"].ToString() == "ITDepartment")
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label for="TermsCode">Company</label>
                        @Html.TextBox("Company", "10", new { @class = "form-control", placeholder = "Company", @readonly = "readonly" })
                    </div>
                    <div class="form-group">
                        <label for="BankCode">Vendor Type</label>
                        @Html.DropDownList("VendorType", ViewBag.VendorTypeList as SelectList, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="BankBranch">Document Pfx</label>
                        @Html.TextBox("DocumentPfx", "MU", new { @class = "form-control", placeholder = "Document Pfx", @readonly = "readonly" })
                    </div>
                </div>
            }
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btnClose" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnApprove">Approve</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="rejectModalLabel" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title" id="exampleModalLabel">Reject Confirmation</label>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <span for="message-text" class="col-form-label">Remarks:</span>
                    <textarea class="form-control" id="remarks"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btnClose" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnReject">Reject</button>
            </div>
        </div>
    </div>
</div>