
@{
    ViewBag.Title = "Customer";
    Layout = "~/Areas/Users/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script>
        var users;
        var onClickSearch = false;

        function getCustomers() {
            users = $('#lstUsers').DataTable
                ({
                    "language":
                    {
                        "processing": "<div class='overlay custom-loader-background'><i class='fa fa-cog fa-spin custom-loader-color'></i></div>"
                    },
                    "processing": true,
                    "serverSide": true,
                    "lengthMenu": convertStringToArray('10,50,100,200,500', ','),
                    "pageLength": '50',
                    "ajax":
                    {
                        "url": '@Url.Action("GetCustomer", new { area = "Users", controller = "Customer" })',
                        "type": "POST",
                        "dataType": "JSON",
                        "data": function (d) {
                            d.Email = $("#Email").val();
                            d.Cust_name = $("#CustomerName").val();
                            d.Status = $("#Status").val();
                            return d;
                        }
                    },
                    "bFilter": false,
                    "scrollX": true,
                    "autoWidth": false,
                    "searching": false,
                    "info": true,
                    'aaSorting': [[0, 'desc']],
                    "columns": [
                        {
                            "data": "Email", "name": "Email"
                        },
                        {
                            "data": "Cust_name", "name": "Cust_name"
                        },
                        {
                            "data": "Owner", "name": "Owner"
                        },
                        {
                            "data": "NextApprover", "name": "NextApprover",
                            "render": function (data, type, row, meta) {
                                return row.NextApprover;
                            }
                        },
                        {
                            "data": "PreviousApprover", "name": "PreviousApprover",
                            "render": function (data, type, row, meta) {
                                return row.PreviousApprover != " ()" ? row.PreviousApprover : "";
                            }
                        },
                        {
                            "data": "LegalDepartment", "name": "LegalDepartment",
                            "render": function (data, type, row, meta) {
                                return row.LegalDepartment != " ()" ? row.LegalDepartment : "";
                            }
                        },
                        {
                            "data": "FinanceDepartment", "name": "FinanceDepartment",
                            "render": function (data, type, row, meta) {
                                return row.FinanceDepartment != " ()" ? row.FinanceDepartment : "";
                            }
                        },
                        {
                            "data": "ITDepartment", "name": "ITDepartment",
                            "render": function (data, type, row, meta) {
                                return row.ITDepartment != " ()" ? row.ITDepartment : "";
                            }
                        },
                        {
                            "data": "Status", "name": "Status",
                            "render": function (data, type, row, meta) {
                                return row.Status == "Approved" ? "<span class='color-green'>Approved</span>" : "<span class='color-yellow'>Pending</span>";
                            }
                        },
                        {
                            "class": "text-center",
                            "render": function (data, type, row, meta) {
                                return row.Step4 ? "<a href='/Customers/CustomerStep1/" + row.Id + "' title='View' target='_blank'>View</a>" : "";
                            }, "targets": 'no-sort', "orderable": false
                        },
                        {
                            "class": "text-center",
                            "render": function (data, type, row, meta) {
                                return row.Step4 ? "<a href='javascript:void(0);' data-id='" + row.Id + "' id='" + row.Id + "' title='Print' class='printCustomer'>Print</a><i class='fa fa-spinner fa-spin " + row.Id + "' style='display: none;'></i>" : "";
                            }, "targets": 'no-sort', "orderable": false
                        }
                    ]
                });
        }

        jQuery(document).ready(function () {
            getCustomers();

            $(".search-button").click(function () {
                users.draw();
            });

            $(".export-button").click(function () {
                window.location.href = '@Url.Action("DownloadExcel", new { area = "Admin", controller = "Customer" })' + '?email=' + $("#Email").val() + "&customerName=" + $("#CustomerName").val() + "&status=" + $("#Status").val();
            });

            $('#lstUsers').on('click', '.printCustomer', function () {
                if (!$(".printCustomer").hasClass("disabled")) {
                    var id = $(this).data('id');

                    $(".printCustomer").addClass("disabled");
                    $("#" + id).hide();
                    $("." + id).show();

                    printCustomer(id);
                }
            });
        });

        function printCustomer(id) {
            $.ajax({
                url: '@Url.Action("CustomerPrint", new { area = "Users", controller = "Customer" })',
                type: "POST",
                data: JSON.stringify({ id: id }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    users.clear().draw();

                    var bytes = new Uint8Array(response);

                    var blob = new Blob([bytes], { type: "application/pdf" });
                    let objFra = document.createElement('iframe');
                    objFra.style.display = 'none';
                    objFra.src = window.URL.createObjectURL(blob);

                    document.body.appendChild(objFra);

                    $(".printCustomer").removeClass("disabled");
                    $("#" + id).show();
                    $("." + id).hide();

                    objFra.contentWindow.focus();
                    objFra.contentWindow.print();
                },
                error: function (response) {
                    $(".printCustomer").removeClass("disabled");
                    $("." + id).hide();
                    $("#" + id).show();
                    toastr.error(response.responseText, "Customer");
                }
            });
        }
    </script>
}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Customers</h1>
                </div>
                <div class="col-sm-6">
                    <div class="form_group text-right">
                        <input type="button" value="Export" class="btn btn-primary export-button" />
                        @if (Session["Role"].ToString() == "Initiator")
                        {
                            @Html.ActionLink("Add New Customer", "AddCustomer", new { controller = "Customer" }, new { @class = "btn btn-primary" })
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="Email">Email</label>
                                    @Html.TextBox("Email", "", new { @class = "form-control", placeholder = "Email" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="CustomerName">Customer Name</label>
                                    @Html.TextBox("CustomerName", "", new { @class = "form-control", placeholder = "Customer Name" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="CustomerCode">Status</label>
                                    @Html.TextBox("Status", "", new { @class = "form-control", placeholder = "Status" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <input type="button" value="Search" class="btn btn-outline-primary search-button" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-striped table-bordered table-hover" id="lstUsers">
                            <thead class="table_header">
                                <tr>
                                    <th>Email</th>
                                    <th>Customer Name</th>
                                    <th>Owner</th>
                                    <th>Next Approver</th>
                                    <th>Previous Approver</th>
                                    <th>Initiator Department</th>
                                    <th>HOD</th>
                                    <th>Legal</th>
                                    <th>Finance</th>
                                    <th>IT</th>
                                    <th>Status</th>
                                    <th>View</th>
                                    <th>Print</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
